﻿@model develop3r.Models.UserModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Add User", "AddNewUser")
</p>

<p>
    @Html.ActionLink("Show Users", "GetUsers")
</p>
